#root{
  margin: auto;
}


.landing_text{
  padding: 10px;
} 

.highlight_style{
  color: #ba896e;
}

#landing_background{
  width: 0;
  text-align: center;
  overflow: hidden;
  margin: auto;
  margin-top: 10%;
  transition: all 0.5 ease;
  background-color: rgba(222, 222, 222, 0.3);
  border: solid;
  padding: 1%;
  transition-delay: 2s;
}

/* Animation keyframes */
@keyframes expandAnimation {
  from {
      width: 0;
      opacity: 1;
      transform: translateX(-50%) scaleX(0); /* Start from center and scaled down */
  }
  to {
      width: 100%; /* Full width */
      opacity: 1;
      transform: scaleX(1); /* End at full scale */
  }
}

#landing_background{
  /* display: flex; */
  animation: expandAnimation 2s ease-out forwards ;
}